<!DOCTYPE html>
<html ng-app="cstat">
  <head>
    <meta charset="utf-8">
    <title>Celebrity Status</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap-theme.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.js"></script>
    <script src="js/services.js"></script>
    <script src="js/cstat.js"></script>
  </head>
  <body>
    <h1>Celebrity Status</h1>
    <div ng-controller="CelebrityStatusController">
      <form>
	<input type="text" placeholder="Enter a celebrity name" ng-model="name">
	<button ng-click="add(name)">Search</button>
      </form>
      <ul ng-repeat="c in celebrities">
	<li>{{c.name}}:  {{c.is_dead}}</li>
      </ul>
    </div>
  </body>
</html>
